.container {
  display: flex;
  align-content: flex-start;
}

.container > * {
  flex: 1 100%;
}

.leftPanel {
  background-color: #ffffff;
  max-width: 607px;
  height: 100vh;
}

.rightPanel {
  background-color: #ff9133;
}

.hide_on_narrow {
  display: none;
}

@media all and (min-width: 800px) {
  .hide_on_narrow {
    display: block;
  }
}
